@import "base.css";

#fullscreenBtn {
    position: absolute;
    bottom: 75px;
    right: 20px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #4b4b85;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#fullscreenBtn:hover {
    background-color: #b570f6;
}

img {
    width: 50%;
    border: none;
}

