*{
    box-sizing: border-box;
}
.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }
.popup{
    display: none;
    position: absolute;
    left: 80%;
    top: 5%;
    transform: translate(-30%, 5%);
    border: 2px solid #666;
    z-index: 9;
}
.popup-open .profile:hover::after {
  display: none;
}


.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
 
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: #cc0000;
  }
  
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

  #register-msg {
    cursor: pointer;
  }