@import "base.css";


/* ==================================================
   #     Mentions Légales / Donne perso / CGU /     #
   ==================================================*/

   h1 {
    text-align: center;
    font-size: 2em;
    color: #1a1a2e;
    margin-top: 20px;
}

p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin: 10px 0;
}

.section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 1.5em;
    color: #4b4b85;
    border-bottom: 2px solid #b570f6;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section strong {
    color: #1a1a2e;
}

.section a {
    color: #4b4b85;
    text-decoration: none;
    font-weight: bold;
}

.section a:hover {
    text-decoration: underline;
    color: #b570f6;
}
