*{
    box-sizing: border-box;
}
.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }
.popup{
    display: none;
    position: absolute;
    left: 80%;
    top: 5%;
    transform: translate(-30%, 5%);
    border: 2px solid #666;
    z-index: 9;
}
.popup-open .profile:hover::after {
  display: none;
}


.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
 
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: #cc0000;
  }
  
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

  #register-msg {
    cursor: pointer;
  }

 /* Style pour le fond semi-transparent qui recouvre toute la page */
.popup_url {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent sombre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assurez-vous qu'il s'affiche au-dessus des autres éléments */
}

/* Contenu du popup */
.popup_url_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%; /* Largeur en pourcentage de l'écran */
  max-width: 400px; /* Largeur maximale */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.5s ease-in-out; /* Animation pour l'apparition du popup */
}

/* Effet d'animation du popup */
@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Style pour le texte */
.popup_url_content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

/* Bouton "OK" */
#close_popup_url {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Changement de couleur du bouton au survol */
#close_popup_url:hover {
  background-color: #45a049;
}
